.footer{
    background-color: #009688;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80px;


}
.footer a{
  color: white;
}
.footer i{
    font-size: 30px;
    padding: 25px 30px 25px 30px;
   
}
.footer i:hover{
  color:black;
}
