.toolbar-item-spacer {
    flex: 1 1 auto;
  }
  
  .red-heart {
    color: red;
  }
  
  .app-container {
    width: 100%;
   height: 85%;
    margin: 0;
  }  
  .app-sidenav {
    width: 11%;
  }
  .app-sidenav-content {
    width: 85%;
    height: 100%;
    margin: 0 0 0 15%;
  }
  .header-image {
    background-image: url('../../../assets/profile.jpg');
    background-size: cover;
    width: 150px;
    margin: 5px 0px 5px 25px;
    height: 145px;
    border-radius: 50%;
  }